:root{
    --color-primary:#7380eC;
    --color-danger:#ff7782;
    --color-success:hsl(160, 86%, 60%);
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f6;


    --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-radius:1.2rem;

    --card-padding:1.8rem;
    --padding-1:1.2rem;

    --box-shadow:0 2rem 3rem var(--color-light);
    
}
.dark-theme-variables{
    --color-background:#181a1e;
    --color-white:#202528;
    --color-dark:#dce1eb;
    --color-dark-variant:#a3bdcc;
    --color-light:rgba(0,0,0,0.4);
    --box-shadow:0 2rem 3rem var(--color-light);
}
*{
    margin:0;
    padding:0;
    outline:0;
    appearance:none;
    border:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
body{
    width:100vw;
    height:100vh;
    font-family: poppins,sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select:none;
    overflow-x:hidden;
   


}
.container{
    display: grid;
    width:96%;
    margin:0 auto;
    gap:1.8rem;
    grid-template-columns: 14rem auto 23rem;
    margin-right: 100%;
    background: linear-gradient(#B5B5B5);
    
}
a{
    color:var(--color-dark);
}
#cap{
    display: block;
    width:100%;
    font-size:xx-large;
    color:red;
        
       
    
}
h2{
  font-weight: 700;
    font-size: 1.4rem;
    display:flex;
    margin-right:7px;
    
}
h5{
    font-size: 0.79rem;
    margin:2px ;
}

small{
    font-size: 0.76rem;
}
.profile.photo{
    width: 2.8rem;
    height:2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color:var(--color-info-dark);
    padding-right: 6px;
    margin-top: 2px;
}
p{
    color:var(--color-dark-variant);
}
b{
    color:var(--color-dark);
}
.primary{
    color:var(--color-primary);
}
.danger{
    color:var(--color-danger);
}
.success{
    color:var(--color-success);
}
.warning{
    color:var(--color-warning);
}


aside{
    height:100vh;
    /* background: grey; */
   
}
aside .logo{
    display: flex;
    gap:0.5rem;
    margin-left: 1rem;
    
}
aside .top{
    /* background:white; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.2rem;

}
aside .close{
    display: none;
}
/*-----------------sidebar----*/

aside .sidebar{
   
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top:2rem;
}
aside h5{
    font-weight: 500;
    
}
aside .sidebar a{
    display: flex;
    color:var(--color-info-dark);
    margin:0.1rem;
    margin-left: 2rem;
    align-items: center;
    position: relative;
    height:3.7rem;
    gap:1rem;
    transition:all 300ms ease;
}
aside .sidebar a i{
    font-size: 1.3rem;
    transition: all 300ms ease;
}
 .sidebar a.active{
    background: var(--color-light);
    color:var(--color-primary);
    margin-left: 0;
}
 .sidebar a.active::before{
    content: "";
    width:6px;
    height:100%;
    background: var(--color-primary);

}
aside .sidebar a.active i{
   color:var(--color-primary);
   margin-left:calc(1rem - 3px);
}
aside .sidebar a:hover{
    color:var(--color-primary);
}
aside .sidebar a:hover i{
    margin-left: 1rem;
}
aside .sidebar .update-count{
    background: var(--color-danger);
    color:var(--color-white);
    padding: 2px 10px;
    font-size:11px;
    border-radius: var(--border-radius-1);
}

 main input [type='date']{
    color:var(--color-primary);
    background: transparent;
}

img{
    margin-top: 2px;
    width:780px;
    height:88%;
    
}

main h2{
    margin-top: 6px;
}

/* -------------------right------------ */
.right{
    margin-top: 0.5rem;
   background: linear-gradient(#B5B5B5) ;
   

}
.right .top{
    /* display:flex; */
    justify-content: end;
    gap:0.5rem;
    
    height:60px;
    background: linear-gradient(#B5B5B5,) ;
    
}
.right .top button{
    display:none;
}
/* .profile-photo #user{
   margin-left: 190px;
  font-size: x-large;
  /* margin-bottom: -10px; */
  
  

.profile .info {
    
    margin-left: 150px;
    font-size: 13px;
    
   
   
}
.profile .info #user{
    margin-left: 20px;
    font-size:xx-large
   
   
  
    
    
}
.right .recent-updates{
    margin-top: 1rem;
}
.right .recent-updates h2{
    margin-bottom: 0.8rem;
}
.right .recent-updates .updates{
    background: var(--color-white);
    padding:var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition:all 300ms ease;
   
}
.right .recent-updates.updates:hover{
    box-shadow: none;
}
.right .recent-updates.updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto ;
    gap:1rem;
    margin-bottom: 1rem;
}


/* ------------media queries------------- */

@media screen and (max-width:1200px){
    .container{
        width:94%;
        grid-template-columns: 14rem auto 23rem;
    }
    aside .logo h2 {
   display: none;
    }
    aside .sidebar h5{
        display: none;
    }
    aside .sidebar a{
        width:5.6rem
    }
    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }
    
}

/* ------------mobiles---------- */
@media screen and (max-width:768px){
 .container{

   width:100%;
   grid-template-columns: 1fr;
   
   
 }  
 aside{
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width:18rem;
    z-index: 5;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height:150vh;
    padding-right:var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
   


 }
 @keyframes showMenu {
    to{
        left:0;
    }
 }

 aside.logo{
   margin-left:1rem;

 }
 aside .logo h2{
    display:inline-flex
 }
 aside .sidebar h5{
   display: inline-flex;
   
  line-height: 1;
  
  
 

}
aside .sidebar  a:last-child{
    position: absolute;
    bottom:-2rem;
    cursor: pointer;
}

 aside .close{
    display: inline-block;
    cursor: pointer;
 }
 main{
    margin-top: 8rem;
    padding:0 1rem;


 }
main  img{
    position: relative;
    margin: 1.1rem 1rem 1rem -1rem;
    width:49vh; 
    background-repeat: no-repeat;  
    background-size: cover cover;  
         /* ----mnmnn--- */
      
        
 }
  
 html , body{
    /* width: 100%;
    height: 100%; */
    margin:0px;
    padding:0px;
    height:500px;
    width:350px;

    
 }
 .right{
    width:100%;
    margin:0 auto 4rem;
    

 }
 .right .top{
    position: fixed;
    top:0;
    left:0;
    align-items: center;
    padding: 0 30rem;
    height:4.6rem;
    background: var(--color-white);
    width:100%;
    margin:0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);


    }
    /* .right .profile .info{
        display: none;
    } */
    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color:var(--color-dark);
        position: absolute;
        left: 1rem;
        margin-top:12px;
        font-size: x-large;
        
    }
     .right .top button i{
        font-size: 2rem;
     }
     
     .recent-updates #text {
        margin-top: 70px;
        font-weight: 700;
        font-size:xx-large;
        margin-left: 20px;
     }
     #dash{
        font-size: xx-large;
     }

    
    
 }

 @media (min-width:1536px){
    img{
        margin-top: 2px;
        width:1375px;
        height:90%;
        
    }
    
       
      .right{
            margin-left: 20px;
           
            
        }
        h5{
            font-size: 20px;
           
        }
    
     
 }
